<html>
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculator Application - API</title>
    <style>
        h4 {
            padding: 6px;
            background-color: rgba(45, 45, 45, 0.1);
        }

        </style>
   </head>
<body>
<div >
    <br> <br>
    <center>
	<h2 ><span>Welcome to Calculator Application</span></h2>
    <p> An open source REST APIs repository for financial calculators</p>
    </center>
    <br> <br> 
    <h4>1. GET:  /cal_app/inv_cal//salary/age</h4>
        <p>Proposes the annual investment details and gains based on Salary and Age.</p>
        <h5>Result:</h5>
        <pre> HighRisk: Amount to investing in high risk investments.
            <br> MidRisk: Amount to investing in medium risk investments.
            <br> LowRisk: Amount to investing in low risk investments.
            <br> Invested_Amount: Actual Amount invested in 5 years.
            <br> Estimated_Investment_Return: Estimated Return from investments as of current rate.
            <br> Estimated_Bank_Return: Estimated Return if saved in Bank as of current rate.
            <br> Investment_Gain: Estimated Gain from investments as of current rate.
            <br> Bank_Gain: Estimated Gain from Bank savings as of current rate.
        </pre>
    <br> <br>
</div>
</body>
</html>